{% extends "design/responsivebase.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="container text-center">
            <h1 class="display-3">AR Private Limited</h1>
            <h5 class="display-6">crew people</h5>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <h5 class="display-6">Our Crew People</h5>
        </div>
    </div>
    <div class="row text-center">
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/c.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">ASHWIN</h5>
                <p class="card-text">President of a company</p>
                <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/c1.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">AAKAASH</h5>
                <p class="card-text">Cheif Executive Officer of a company</p>
                <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/c2.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">RAGAV</h5>
                <p class="card-text">Cheif Operating Officer of a company</p>
                <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/c3.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">CHETAN DINESH</h5>
                <p class="card-text">Cheif Financial Officer of a company</p>
                <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/c4.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">VINCENT</h5>
                <p class="card-text">Cheif Legal Officer of a company</p>
                <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3">
            <img class="card-img-top" src="/static/img/c5.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">SURYA PRASANNA</h5>
                <p class="card-text">Cheif Marketing Officerof a company</p>
                <a href="#" class="btn btn-primary">More Details</a>
            </div>
        </div>
    </div>
 {% endblock  %}